<div class="main-div">
    <div class="parent-div">
        <section class="form">
            <h2>Parent Form</h2>
            <div class="form-group">
                <label for="name">Name : </label>
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" (ngModelChange)="updateValue()">
            </div>
            <div class="form-group">
                <label for="age">Age : </label>
                <input type="number" class="form-control" placeholder="Enter age" [(ngModel)]="age" (ngModelChange)="updateValue()">
            </div>
            <div [ngClass]="{'message': message}">{{ message }}</div>
        </section>
    </div>
    <div class="child-div">
        <h2>Child component</h2>
        <app-child [userData]="user" (confirmationMesssage)="dataReceivedFromChild($event)"></app-child>
    </div>
</div>